.favorite-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
  width: 633px;
  height: 454px;
  margin-left: 258px;
}

.favorite-intro h2 {
  color: #ff6b6b;
  font-size: 24px;
  margin-bottom: -20px;
}

.favorite-intro p {

  width: 305px;
  height: 140px;
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  margin-left: 50px;
  margin-top: 40px;
  font: bold;

}

.favorite-content {
  display: flex;
}

.favorite-content img {
  width: 306px;
  height: 197px;

  background: #D9D9D9;
  border-radius: 13px;

}