.note-section {
    margin-top: 20px;
}

.note-section h3 {
    margin-left: 103px;
    width: 979px;
    height: 38px;
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    color: #000000;
    order: 1;
    align-self: stretch;


}

.note-list {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.note-item {
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 15px;
width: 979px;
height: 170px;
border: 1px solid rgba(119, 119, 119, 0.5);
border-radius: 10px;
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
margin-left: 100px;
}

.note-item .note-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.note-content {
    flex-grow: 1;
}

.note-content h4 {
width: 29px;
height: 23px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin-left: 50px;
margin-top: 50px;
}

.note-content .note {
width: 947px;
height: 28px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: rgba(0, 0, 0, 0.6);
margin-top: 10px;
margin-left: 0px;
}

.note-content span {
    position: absolute;
margin: 0 auto;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
color: rgba(0, 0, 0, 0.4);
margin-top: 60px;
}

.delete-btn {
position: absolute;
width: 50px;
height: 40px;
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
background: #DF3939;
border-radius: 10px;
margin-top: -980px;
margin-left: -10px;
color: #fff;
}