.filter-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-left: 258px;
}

.search-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    gap: 12px;
    margin-left: -20px;
    width: 440px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
}

.search-bar i {
    position: absolute;
    margin-left: 20px;
    width: 20px;
    height: 20px;


}

.search-bar input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
}

input::placeholder {
    padding-left: 40px;
    width: 61px;
    height: 20px;
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.filter-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 561px;
    height: 48px;
    margin-left: 0px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.filter-options select {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;

}