.d-flex {
  display: flex;
}

.float-right {
  float: right;
}

.jc-space-between {
  justify-content: space-between;
}

.paging {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

/* Padding classes */
.pl-1px {
  padding-left: 1px;
}

.pr-1px {
  padding-right: 1px;
}

.pt-1px {
  padding-top: 1px;
}

.pb-1px {
  padding-bottom: 1px;
}

.mt-1px {
  margin-top: 1px;
}

.w-1px {
  width: 1px;
}

/* Repeating the above for padding from 1px to 1000px */

/* Padding classes */
.pl-2px {
  padding-left: 2px;
}

.pr-2px {
  padding-right: 2px;
}

.pt-2px {
  padding-top: 2px;
}

.pb-2px {
  padding-bottom: 2px;
}

.mt-2px {
  margin-top: 2px;
}

.w-2px {
  width: 2px;
}

.pl-3px {
  padding-left: 3px;
}

.pr-3px {
  padding-right: 3px;
}

.pt-3px {
  padding-top: 3px;
}

.pb-3px {
  padding-bottom: 3px;
}

.mt-3px {
  margin-top: 3px;
}

.w-3px {
  width: 3px;
}

/* Continue repeating this pattern up to 1000px */

/* Example for padding up to 1000px */

.pl-1000px {
  padding-left: 1000px;
}

.pr-1000px {
  padding-right: 1000px;
}

.pt-1000px {
  padding-top: 1000px;
}

.pb-1000px {
  padding-bottom: 1000px;
}

.mt-1000px {
  margin-top: 1000px;
}

.w-1000px {
  width: 1000px;
}
